<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.trace.product.dao.ProductBatchMapper" >
  <resultMap id="BaseResultMap" type="com.ejunhai.trace.product.model.ProductBatch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="production_date" property="productionDate" jdbcType="DATE" />
    <result column="expire_time" property="expireTime" jdbcType="VARCHAR" />
    <result column="batch_num" property="batchNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, merchant_id, batch_no, product_id, production_date, expire_time, batch_num, create_time, 
    update_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_product_batch
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_product_batch
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ejunhai.trace.product.model.ProductBatch" >
    insert into tb_product_batch (id, merchant_id, batch_no, 
      product_id, production_date, expire_time, 
      batch_num, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{productionDate,jdbcType=DATE}, #{expireTime,jdbcType=VARCHAR}, 
      #{batchNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  

  <update id="updateByPrimaryKey" parameterType="com.ejunhai.trace.product.model.ProductBatch" >
    update tb_product_batch
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      production_date = #{productionDate,jdbcType=DATE},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      batch_num = #{batchNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>