<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.trace.product.dao.ProductBatchMapper" >
  <resultMap id="BaseResultMap" type="com.ejunhai.trace.product.model.ProductBatch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="base_id" property="baseId" jdbcType="INTEGER" />
    <result column="production_date" property="productionDate" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="VARCHAR" />
    <result column="issue_amount" property="issueAmount" jdbcType="INTEGER" />
    <result column="has_issue_num" property="hasIssueNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, merchant_id, batch_no, product_id,base_id, production_date, expire_time, issue_amount,
    has_issue_num, create_time, update_time
  </sql>
  
    <select id="read" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from tb_product_batch where ID = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getProductBatchByBatchNo" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tb_product_batch where  batch_no = #{batchNo,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.ejunhai.trace.product.model.ProductBatch" useGeneratedKeys="true" keyProperty="id">
		insert into tb_product_batch (
		<include refid="Base_Column_List" />
		)
		values (
			#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, 
		      #{productId,jdbcType=INTEGER}, #{baseId,jdbcType=INTEGER}, #{productionDate,jdbcType=VARCHAR}, 
		      #{expireTime,jdbcType=VARCHAR}, #{issueAmount,jdbcType=INTEGER}, #{hasIssueNum,jdbcType=INTEGER}, 
		      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="update" parameterType="com.ejunhai.trace.product.model.ProductBatch">
		update tb_product_batch
		<set>
			  batch_no = #{batchNo,jdbcType=VARCHAR},
		      product_id = #{productId,jdbcType=INTEGER},
		      base_id = #{baseId,jdbcType=INTEGER},
		      production_date = #{productionDate,jdbcType=VARCHAR},
		      expire_time = #{expireTime,jdbcType=VARCHAR},
		      issue_amount = #{issueAmount,jdbcType=INTEGER},
		      has_issue_num = #{hasIssueNum,jdbcType=INTEGER},
		      create_time = #{createTime,jdbcType=TIMESTAMP},
		      update_time = #{updateTime,jdbcType=TIMESTAMP}
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateHaveIssueNum" >
		update tb_product_batch set has_issue_num=has_issue_num+#{num}  where ID = #{id,jdbcType=INTEGER}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from tb_product_batch where ID = #{id,jdbcType=INTEGER}
	</delete>

	<select id="queryProductBatchCount" resultType="java.lang.Integer">
		select count(1) from tb_product_batch
		<where>
			<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
			<if test="batchNo!=null and batchNo!=''"> and batch_no = #{batchNo} </if>
		</where>
	</select>

	<select id="queryProductBatchList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tb_product_batch
		<where>
			<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
			<if test="batchNo!=null and batchNo!=''"> and batch_no = #{batchNo} </if>
		</where>
		limit #{offset},#{pageSize}
	</select>
	

</mapper>