<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.trace.product.dao.ProductAccessLogMapper" >
	  <resultMap id="BaseResultMap" type="com.ejunhai.trace.product.model.ProductAccessLog" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
	    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
	    <result column="product_id" property="productId" jdbcType="INTEGER" />
	    <result column="trace_code" property="traceCode" jdbcType="VARCHAR" />
	    <result column="source_ip" property="sourceIp" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	  </resultMap>
	  <sql id="Base_Column_List" >
	    id, merchant_id, batch_no, product_id, trace_code, source_ip, create_time
	  </sql>
	  
	<insert id="insert" parameterType="com.ejunhai.trace.product.model.ProductAccessLog" useGeneratedKeys="true" keyProperty="id">
		insert into tb_product_access_log (
		<include refid="Base_Column_List" />
		)
		values (
			#{id,jdbcType=INTEGER}, 
			#{merchantId,jdbcType=INTEGER}, 
			#{batchNo,jdbcType=VARCHAR}, 
      		#{productId,jdbcType=INTEGER}, 
      		#{traceCode,jdbcType=VARCHAR}, 
      		#{sourceIp,jdbcType=VARCHAR}, 
      		#{createTime,jdbcType=TIMESTAMP}
      	)
	</insert>
  
  	<select id="queryProductAccessLogCount" resultType="java.lang.Integer">
		select count(1) from tb_product_access_log
		<where>
			<if test="merchantId!=null and merchantId!=''">
				and merchant_id like CONCAT('%',#{merchantId},'%')
			</if>
		</where>
	</select>

	<select id="queryProductAccessLogList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tb_product_access_log
		<where>
			<if test="merchantId!=null and merchantId!=''">
				and merchant_id like CONCAT('%',#{merchantId},'%')
			</if>
		</where>
		order by create_time desc
		limit #{offset},#{pageSize} 
	</select>

</mapper>