<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.trace.product.dao.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ejunhai.trace.product.model.ProductInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="pic_urls" property="picUrls" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />	
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, merchant_id, product_name, logo_url, brand_name, pic_urls,remark,creator, create_time, 
    update_time
  </sql>
  
  	<select id="read" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from tb_product_info where ID = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insert" parameterType="com.ejunhai.trace.product.model.ProductInfo" useGeneratedKeys="true" keyProperty="id">
		insert into tb_product_info (
		<include refid="Base_Column_List" />
		)
		values (
			#{id,jdbcType=INTEGER}, 
			#{merchantId,jdbcType=INTEGER}, 
			#{productName,jdbcType=VARCHAR}, 
      		#{logoUrl,jdbcType=VARCHAR}, 
      		#{brandName,jdbcType=VARCHAR}, 
      		#{picUrls,jdbcType=VARCHAR}, 
      		#{remark,jdbcType=LONGVARCHAR}, 
      		#{creator,jdbcType=INTEGER}, 
      		#{createTime,jdbcType=TIMESTAMP}, 
      		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.ejunhai.trace.product.model.ProductInfo">
		update tb_product_info
		<set>
			  merchant_id = #{merchantId,jdbcType=INTEGER},
		      product_name = #{productName,jdbcType=VARCHAR},
		      logo_url = #{logoUrl,jdbcType=VARCHAR},
		      brand_name = #{brandName,jdbcType=VARCHAR},
		      pic_urls = #{picUrls,jdbcType=VARCHAR},
		      remark = #{remark,jdbcType=LONGVARCHAR}, 
		      create_time = #{createTime,jdbcType=TIMESTAMP},
		      update_time = #{updateTime,jdbcType=TIMESTAMP}
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from tb_product_info where ID = #{id,jdbcType=INTEGER}
	</delete>

	<select id="queryProductInfoCount" resultType="java.lang.Integer">
		select count(1) from tb_product_info
		<where>
			<if test="merchantId!=null and merchantId!=''">
				and merchant_id like CONCAT('%',#{merchantId},'%')
			</if>
			<if test="productName!=null and productName!=''">
				and product_name like CONCAT('%',#{productName},'%')
			</if>
		</where>
	</select>

	<select id="queryProductInfoList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tb_product_info
		<where>
			<if test="merchantId!=null and merchantId!=''">
				and merchant_id like CONCAT('%',#{merchantId},'%')
			</if>
			<if test="productName!=null and productName!=''">
				and product_name like CONCAT('%',#{productName},'%')
			</if>
		</where>
		limit #{offset},#{pageSize}
	</select>

</mapper>