<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.trace.product.dao.SystemAccessLogMapper" >
  <resultMap id="BaseResultMap" type="com.ejunhai.trace.system.model.SystemAccessLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="trace_code" property="traceCode" jdbcType="VARCHAR" />
    <result column="source_ip" property="sourceIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_id, batch_no, product_id, trace_code, source_ip, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_system_access_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_system_access_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ejunhai.trace.system.model.SystemAccessLog" >
    insert into tb_system_access_log (id, merchant_id, batch_no, 
      product_id, trace_code, source_ip, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{traceCode,jdbcType=VARCHAR}, #{sourceIp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ejunhai.trace.system.model.SystemAccessLog" >
    update tb_system_access_log
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      trace_code = #{traceCode,jdbcType=VARCHAR},
      source_ip = #{sourceIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>